{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block body %}
                <div class="col-lg-10">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4" id="intro">
                            <!-- Post title-->
                            <center><h1 style="font-size:50px;white-space: pre-wrap">{{topic}}</h1></center>
                            <br>
                            <br>
                            <br>
                            <!-- Post meta content-->
                            <i><a>Author : {{author}}</a></i>
                            <br>
                            <i><a>Date Publishd : {{date}}</a></i>
                            <!-- Post categories-->
                        </header>
                        <br>
                        <br>
                        <section class="mb-5">
                            <p style="font-size:25px;" class="mb-4">
                                {{body}}
                            </p>      
                        </section>
                        {% include "partials/related_custom_pc_builds.html" %}
                    </article>
                </div>
                
                {% comment %} {% include "partials/right_side_widget.html" %} {% endcomment %}
{% endblock body %}