{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block body %}
                <div class="col-lg-7-5">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4" id="intro">
                            <!-- Post title-->
                            <h1 style="font-size:45px" class="fw-bolder mb-1">{{blog_post.topic}} - The Ultimate PC Build Guide</h1><br>
                            <!-- Post meta content-->
                            <div style="font-size:19px;color:#a00000;margin-top: 15px;margin-bottom: 20px;" class="small text-muted" ><img src="{% static 'images/calendar.png' %}" alt="Calendar Icon" width="25" height="25" style="margin-top: -7px; margin-right: 5px;margin-left: 3px;"> {{blog_post.date_created|time_ago_format}}</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="{% url blog_post.sub_category.slug %}">{{blog_post.sub_category.name|upper}}</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="{% url blog_post.main_category.slug %}">{{blog_post.main_category.name|upper}}</a>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img style="border-radius: 15px;margin-bottom:30px;" class="card-img-top" src="{{blog_post.image.url}}" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p style="font-size:30px;" class="fs-5 mb-4">
                                {{blog_post.body}}
                            </p>      
                        </section>
                        {% include "partials/related_custom_pc_builds.html" %}
                    </article>
                </div>
                
                {% comment %} {% include "partials/right_side_widget.html" %} {% endcomment %}
{% endblock body %}